@model IEnumerable<Lavender_Veil.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Products</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.Customer?.Name</td>
                <td>
                    @foreach (var item in order.OrderItems)
                    {
                        <span>@item.Product?.Name (@item.Quantity)</span>
                        <br>
                    }
                </td>
                <td>@order.OrderDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Admin" asp-action="Dashboard" class="btn btn-outline-secondary">
    <i class="bi bi-arrow-left"></i> Back 
</a>